section{
  height: 85vh;
}
h2{
  color: var(--second-color);
}
.icon i{
  color: var(--second-color);
}
.icon span{
  background-color: var(--second-color);
}
p{
  color: var(--main-color);
  position: relative;
  top: 50px;
  z-index: -1;
  transition: 0.3s;
}
button{
  background-color: var(--main-color);
}
input{
  outline: none;
}
