<section class="position-relative">
  <div class="content text-center text-white d-flex flex-column align-items-center h-100 justify-content-center">
    <img src="assets/Img/avataaars.svg" alt="logo framework" >
    <div class="info">
      <h2 class="fs-1 fw-bold text-uppercase mt-5">Start Framework</h2>
      <div class="icon d-flex justify-content-center align-items-center my-3">
        <span></span>
        <i class="fa-solid fa-star"></i>
        <span></span>
      </div>
      <p>Graphic Artist - Web Designer - Illustrator</p>
    </div>
  </div>
</section>
