<section >
  <div class="firstFooter py-5">
    <div class="container">
      <div class="row gy-5">
        <div class="col-md-4 text-center">
          <h4 class="text-white text-uppercase">Location</h4>
          <p class="text-white">2215 John Daniel Drive</p>
          <p class="text-white">Clark, MO 65243</p>
        </div>
        <div class="col-md-4 text-center">
          <h4 class="text-white text-uppercase ">Around the web</h4>
          <div class="icons d-flex justify-content-around">
            <i class="fa-brands fa-facebook fs-5 text-white border border-1 rounded-circle p-2"></i>
            <i class="fa-brands fa-twitter fs-5 text-white border border-1 rounded-circle p-2"></i>
            <i class="fa-brands fa-linkedin fs-5 text-white border border-1 rounded-circle p-2"></i>
            <i class="fa-solid fa-globe fs-5 text-white border border-1 rounded-circle p-2"></i>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <h4 class="text-white text-uppercase">About Freelancer</h4>
          <p class="text-white">Freelance is a free to use, licensed Bootstrap theme created by Route</p>
        </div>
      </div>
    </div>
  </div>
  <div class="secondFooter d-flex justify-content-center py-4">
    <p class="text-white m-0">Copyright © Your Website 2021</p>
  </div>
</section>
